* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #282d35;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #21222a;
}

main {
  padding: 60px 30px;
  background-image: url(/images/react-logo-half.png);
  background-repeat: no-repeat;
  background-position: right 70%;
}

main > ul {
  margin-top: 46px;
  max-width: 400px;
}

main > ul > li {
  padding-block: 10px;
  line-height: 19px;
}

main > ul > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  font-size: 39px;
  font-weight: 700;
}

.navbar {
  margin-left: 26px;
}

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__brand {
  display: flex;
  align-items: center;
  color: #61dafb;
}

.navbar__name {
  margin-left: 7px;
  color: #61dafb;
  font-size: 1.4rem;
  font-weight: 700;
}

.navbar__logo {
  width: 40px;
}
